@using ReelRoster.Models.Database
@using ReelRoster.Services.Interfaces;
@model Movie
@inject IImageService _imageService



<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <img src="@_imageService.DecodeImage(Model.Poster, Model.PosterType)" class="w-100" alt="..." />
        </div>
        <div class="row">
            <button class="btn btn-lg btn-block btn-danger font-weight-bold" data-bs-toggle="modal" data-bs-target="#trailer">WATCH TRAILER</button>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">TITLE</span> @Model.Title
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">RELEASED</span> @Model.ReleaseDate.ToString("MMM dd, yyyy")
            </div>
        </div>
        <hr />


        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">RATING</span> @Model.Rating
            </div>
        </div>
        <hr />


        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">REVIEWS</span> @Model.VoteAverage /10
            </div>
        </div>
        <hr />


        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder h-5">OVERVIEW:</span>
            </div>
        </div>


        <div class="row">
            <div class="col h5">
                <span class="font-weight-bolder mr-2">@Model.Overview</span>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col">
        <span class="h5 font-weight-bolder">STARRING:</span>
    </div>
</div>
@foreach (var actor in Model.Cast.Take(5))
{
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="@actor.ImageUrl" class="img-fluid" style="width: 10rem" alt="...">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title"><a asp-action="Details" asp-controller="Actors" asp-route-id="@actor.CastId"> Name: @actor.Name</a></h5>
                            <p class="card-text">Character: @actor.Character</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<!-- Youtube Modal-->
<div class="modal fade" id="trailer" tabindex="-1" role="dialog" aria-labelledby="trailerLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">@Model.Title</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                    @{
                        //I am isolating a piece of data in order to use it as my embeded source
                        var key = Model.TrailerUrl.Split("=").Last();
                        var source = $"https://www.youtube.com/embed/{key}";
                    }

                    <iframe width="760" height="428" src="@source"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer" ; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;
                            allowfullscreen>
                        
                    </iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Script stops video from playing when modal is closed-->
<script>
    $("#trailer").on('hidden.bs.modal', function (e) {
        $("#trailer iframe").attr("src", $("#trailer iframe").attr("src"));
    });
</script>
